    @import '@styles/_variables.module.scss';
    @import '@styles/_mixins.module.scss';
    
    .containerMethods {
        padding: 25px 0;
        position: relative;
        width: 100%;
        border: 1px solid #e1e1e1;
        margin-top: 45px;

        .titleMethods {
            position: absolute;
            top: -8px;
            transform: translateX(-50%);
            left: 50%;
            background-color: $white_color;
            padding: 0 10px;
            text-transform: uppercase;
            font-size: 14px;

            span {
                color: #2e7d32;
            }
        }

        .boxImgMethods {
            @include flex_box_custom(center, center, 10px);
        }

        .imgMethods {
            border: 1px solid #e1e1e1;
            max-width: 50%;
            width: 50px;
            height: 34px;
            border-radius: 5px;
        }
    }

    .textSecure {
        text-align: center;
        font-size: 14px;
        color: $third_color;
        margin-top: 10px;
    }